# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/.idea/
/.sass-cache/
/css/
/dist/
/src/.sass-cache/
/src/node_modules/
/src/dist/
/src/bower_components/
/src/css/
/src/temp/
/src/vendor/
