<div class="tc-white-1 bgc-blue-500" 
     flex-container="row">
    
    <div class="p+" 
         flex-item-order="1" 
         flex-item="4">
        {{title}}
    </div>

    <button class="text-right btn btn--l btn--blue" 
         ng-click="onSignOut()"
         flex-item-order="2" 
         flex-item="8">
        SIGN OUT
    </button>
    
</div>

<!-- <div class="tc-white-1 mt++" flex-container="column" flex-align="space-between center" style="height: 200px">
    <div><div class="p+ bgc-red-500">Flex item</div></div>
    <div><div class="p+ bgc-blue-500">Flex item</div></div>
    <div><div class="p+ bgc-green-500">Flex item</div></div>
</div> -->