.player-list-component {
    @extend .bgc-white;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    
    li {
        min-height: 110px;
        padding: 10px 0;
    }
    
    img {
        width: 90px;
        padding-left: 20px;
    }
}